// Avenir Family

// TODO: add @font-face

$fontAvenir: Avenir, Sans-serif;

$fontAvenirBlack: "Avenir-Black", Avenir, Helvetica, sans-serif;
$fontAvenirBook: "Avenir-Book", Avenir, Helvetica, sans-serif;
$fontAvenirMedium: "Avenir-Medium", Avenir, Helvetica, sans-serif;

$fontAvenirNext: 'Avenir Next', Avenir, Sans-serif;
$fontAvenirNextUltraLight: 'Avenir Next Ultra-Light', Avenir, Sans-serif;
