$colorBlackRich: rgb(0, 0, 0);
$colorBlack: rgb(22, 22, 29); // Egengrau

$colorWhite: rgb(255, 255, 255);
$colorWhiteAlpha: rgba(255, 255, 255, .2);

$colorBlueEquinox: rgb(58, 155, 199);  // EQ Official Blue
$colorBlue: rgb(0, 174, 239);

$colorRed: rgba(255, 50, 50, .5);

$colorYellow: rgba(255, 255, 0, .5);
