#component-ai {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }
  #component-ai #full-screen.ai-strength-1 {
    background: url("../images/ai/noise/noise-1.gif") top left repeat transparent;
    background-size: contain;
    height: 100%;
    opacity: .03; }

body.ai-strength-2 {
  transform: rotate(180deg); }

body.ai-strength-3 {
  text-align: right; }

.ai-upsidedown {
  transform: rotate(180deg); }

.ai-flicker {
  animation-name: ansFlicker;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes ansFlicker {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.ai-throb {
  animation-name: ansThrob;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes ansThrob {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }
