@import "../imports/imports.scss";

$mapWidth: 90vw;

#component-map {
  .map-wrapper {
    width: $mapWidth;
    padding-bottom: $mapWidth * 2;
    margin: auto;
    border: solid 1px $colorWhite;
    position: relative;
    transition-duration: 0.3s;
    background: url('../images/global/map.png') top left no-repeat transparent;
    background-size: contain;
    &:hover {
      background-color: $colorWhiteAlpha;
    }
    .location {
      background-color: yellow;
      position: absolute;
      padding: 0;
    }
    .pz {
      // height and width set dynamically
      border: solid 1px $colorBlack;
      border-radius: 50%;
      background-color: rgba(0, 255, 100, .5);
      position: absolute;
      transition-duration: .5s;
      padding: 0;
      &:hover {
        background-color: $colorWhite;
      }
    }
    #uranium {
      background-color: red;
      border-radius: 15px;
      position: absolute;
      transition-duration: .5s;
      padding: 0;
    }
    #location-mk {
      
    }
    #location-ub {

    }

  }
}
