.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-fade-out {
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  display: none; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  80% {
    opacity: .8; }
  100% {
    opacity: 0;
    display: none; } }

#component-map .map-wrapper {
  width: 90vw;
  padding-bottom: 180vw;
  margin: auto;
  border: solid 1px white;
  position: relative;
  transition-duration: 0.3s;
  background: url("../images/global/map.png") top left no-repeat transparent;
  background-size: contain; }
  #component-map .map-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  #component-map .map-wrapper .pz {
    border: solid 1px #16161d;
    border-radius: 50%;
    background-color: rgba(0, 255, 100, 0.5);
    position: absolute;
    transition-duration: .5s;
    padding: 0; }
    #component-map .map-wrapper .pz:hover {
      background-color: white; }
