body {
  background-color: black;
  color: white;
  font: 12px/20px Sans-serif;
  padding: 1%;
  margin: 0;
  opacity: .8; }

a {
  color: white;
  margin-right: 10px;
  display: block; }

input,
button {
  border: none;
  border: solid 1px white;
  display: block;
  margin: 1% 0; }

input[type='submit'],
button {
  background-color: black;
  color: white; }

.component-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1% 0;
  padding: 1%; }
  .component-wrapper.add {
    background-color: rgba(255, 0, 0, 0.3); }

#component-map .map-wrapper {
  width: 95%;
  padding-bottom: 190%;
  margin: auto;
  border: solid 1px #fff;
  position: relative;
  transition-duration: 0.3s;
  background: url("../images/global/map.png") top left no-repeat transparent;
  background-size: contain; }
  #component-map .map-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.04); }
  #component-map .map-wrapper .pz {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(0, 255, 100, 0.5);
    position: absolute;
    transition-duration: .5s;
    border: solid 1px #000;
    padding: 0; }
    #component-map .map-wrapper .pz:hover {
      background-color: white; }
