.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

input,
button {
  border: solid 1px white;
  border-radius: 0px;
  display: block;
  margin: 1vh 0;
  padding: 10px 30px;
  cursor: pointer; }

input[type='submit'],
button {
  background-color: #16161d;
  color: white; }
