body {
  background-color: black;
  color: white;
  font: 100 12px/20px 'Avenir Ultra Light', Avenir, Sans-serif;
  padding: 1%;
  margin: 0;
  opacity: .8; }

a {
  color: white;
  margin-right: 10px;
  display: block;
  cursor: pointer; }

input,
button {
  border: none;
  border: solid 1px white;
  display: block;
  margin: 1% 0;
  padding: 10px 30px;
  cursor: pointer; }

input[type='submit'],
button {
  background-color: black;
  color: white; }

.component-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1% 0;
  padding: 1%; }
  .component-wrapper.add {
    background-color: rgba(255, 0, 0, 0.3); }

.clear:after {
  content: "";
  display: table;
  clear: both; }
