.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-fade-out {
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  display: none; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  80% {
    opacity: .8; }
  100% {
    opacity: 0;
    display: none; } }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-fade-out {
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  display: none; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  80% {
    opacity: .8; }
  100% {
    opacity: 0;
    display: none; } }

body {
  background-color: #16161d;
  color: white;
  font: 100 12px/20px "Avenir Next Ultra-Light", Avenir, Sans-serif;
  padding: 1vw;
  margin: 0;
  opacity: .5; }

img {
  border: none;
  min-height: 20px;
  min-width: 20px; }

P {
  font: 400 12px/14px Avenir, Sans-serif; }

a,
a:visited,
a:hover,
a:active {
  color: white;
  display: block;
  cursor: pointer; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-fade-out {
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  display: none; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  80% {
    opacity: .8; }
  100% {
    opacity: 0;
    display: none; } }

input,
button {
  border: solid 1px white;
  border-radius: 0px;
  display: block;
  margin: 1vh 0;
  padding: 10px 30px;
  cursor: pointer; }

input[type='submit'],
button {
  background-color: #16161d;
  color: white; }

.icon {
  display: inline-block;
  min-width: 10px;
  min-height: 10px; }
