.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

body {
  background-color: #16161d;
  color: white;
  font: 100 12px/20px "Avenir Next Ultra-Light", Avenir, Sans-serif;
  padding: 1vw;
  margin: 0;
  opacity: .4; }

img {
  border: none;
  min-height: 20px;
  min-width: 20px; }

P {
  font: 400 12px/14px Avenir, Sans-serif; }

a,
a:visited,
a:hover,
a:active {
  color: white;
  display: block;
  cursor: pointer; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }
