@import "../../imports/imports.scss";

#component-mk {
  h2 {
    color: $colorBlack;
    background-color: $colorWhite;
  }
  article {
    border-bottom: solid 1px $colorWhite;
  }
  div.row {
    display: flex;
    margin-bottom: 20px;
    div.col {
      flex-grow: 1;
    }
  }
}
