@import "../../imports/imports.scss";

#component-projector {
  h2 {
    color: $colorBlack;
    background-color: $colorWhite;
  }
  article {
    border-bottom: solid 1px $colorWhite;
  }
  div.row {
    display: flex;
    margin-bottom: 20px;
    div.col {
      flex-grow: 1;
    }
  }

  #status-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    #active-launch-stats {
      padding: 1vw;
      flex-grow: 1;
      //background-color: rgba(255, 255, 255, .3);
      position: relative;
      z-index: 10;
    }
    #leaderbar {
      padding: 1vw;
      border: solid #fff 1px;
      border-right: none;
      border-bottom: none;
      background-color: rgba(255, 255, 255, .1);
      display: flex;
      flex-direction: column;
      min-height: 300px;
      min-width: 20vw;
      justify-content: flex-end;
      padding: 0 5px 0;
      position: relative;
      z-index: 10;
      .user {
        line-height: 16px;
        min-height: 16px;
        margin: 2px 0px;
        display: flex;
        align-items: flex-end;
        .bar-segment {
          height: 100%;
          display: inline-block;
          width: 5vw;
        }
        .text {
          flex-grow: 1;
          text-align: right;
        }
      }
    }
    #video-wrapper {
      //border: solid #fff 1px;
      position: absolute;
      top: 0;
      left: 0;
      video {
        //border: solid red 1px;
        width: 98vw;
        height: 98vh;
      }
    }

  }

}
