body {
  background-color: black;
  color: white;
  font: 100 12px/20px 'Avenir Ultra Light', Avenir, Sans-serif;
  padding: 1%;
  margin: 0;
  opacity: .4; }

a {
  color: white;
  margin-right: 10px;
  display: block;
  cursor: pointer; }

input,
button {
  border: none;
  border: solid 1px white;
  display: block;
  margin: 1% 0;
  padding: 10px 30px;
  cursor: pointer; }

input[type='submit'],
button {
  background-color: black;
  color: white; }

.component-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1% 0;
  padding: 1%; }
  .component-wrapper.add {
    background-color: rgba(255, 0, 0, 0.3); }

.clear:after {
  content: "";
  display: table;
  clear: both; }

#component-welcome {
  color: #3a9bc7; }
  #component-welcome .ans-show-wrapper.hide {
    display: none; }
  #component-welcome .ans-show-wrapper .ans {
    animation-iteration-count: 1; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-1 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-1; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-2 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-2; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-3 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-3; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-1 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-1; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-2 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-2; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-3 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-3; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-4 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-4; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-5 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-5; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-6 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-6; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-7 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-7; }

@keyframes ansIntroFadeIn-1 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansIntroFadeIn-2 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansIntroFadeIn-3 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 0; }
  66.66667% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-1 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 1; }
  28.57143% {
    opacity: 1; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-2 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 1; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-3 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-4 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-5 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-6 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 0; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-7 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 0; }
  85.71429% {
    opacity: 0; }
  100% {
    opacity: 1; } }
