.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

body {
  background-color: black;
  color: white;
  font: 100 12px/20px "Avenir Next Ultra-Light", Avenir, Sans-serif;
  padding: 1vw;
  margin: 0;
  opacity: .8; }

img {
  border: none;
  min-height: 20px;
  min-width: 20px; }

P {
  font: 400 12px/14px Avenir, Sans-serif; }

a,
a:visited,
a:hover,
a:active {
  color: white;
  display: block;
  cursor: pointer; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

input,
button {
  border: solid 1px white;
  border-radius: 0px;
  display: block;
  margin: 1vh 0;
  padding: 10px 30px;
  cursor: pointer; }

input[type='submit'],
button {
  background-color: black;
  color: white; }

.icon {
  display: inline-block;
  min-width: 10px;
  min-height: 10px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

.component-wrapper button.cancel-button {
  display: inline-block; }

#component-nav a {
  display: inline-block;
  margin-right: 10px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#component-map .map-wrapper {
  width: 90vw;
  padding-bottom: 180vw;
  margin: auto;
  border: solid 1px white;
  position: relative;
  transition-duration: 0.3s;
  background: url("../images/global/map.png") top left no-repeat transparent;
  background-size: contain; }
  #component-map .map-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  #component-map .map-wrapper .pz {
    border: solid 1px black;
    border-radius: 50%;
    background-color: rgba(0, 255, 100, 0.5);
    position: absolute;
    transition-duration: .5s;
    padding: 0; }
    #component-map .map-wrapper .pz:hover {
      background-color: white; }

#component-ai {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }
  #component-ai #full-screen.ai-strength-1 {
    background: url("../images/ai/noise/noise-1.gif") top left repeat transparent;
    background-size: contain;
    height: 100%;
    opacity: .03; }

body.ai-strength-2 {
  transform: rotate(180deg); }

body.ai-strength-3 {
  text-align: right; }

.ai-upsidedown {
  transform: rotate(180deg); }

.ai-flicker {
  animation-name: ansFlicker;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes ansFlicker {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.ai-throb {
  animation-name: ansThrob;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes ansThrob {
  0% {
    opacity: 1; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#component-welcome {
  color: #3a9bc7; }
  #component-welcome .ans-show-wrapper.hide {
    display: none; }
  #component-welcome .ans-show-wrapper .ans {
    animation-iteration-count: 1; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-1 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-1; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-2 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-2; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-3 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-3; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-1 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-1; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-2 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-2; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-3 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-3; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-4 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-4; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-5 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-5; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-6 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-6; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-7 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-7; }

@keyframes ansIntroFadeIn-1 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansIntroFadeIn-2 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansIntroFadeIn-3 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 0; }
  66.66667% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-1 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 1; }
  28.57143% {
    opacity: 1; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-2 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 1; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-3 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-4 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-5 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-6 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 0; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-7 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 0; }
  85.71429% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#component-mk h2 {
  color: black;
  background-color: white; }

#component-mk article {
  border-bottom: solid 1px white; }

#component-mk div.row {
  display: flex;
  margin-bottom: 20px; }
  #component-mk div.row div.col {
    flex-grow: 1; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#component-projector h2 {
  color: black;
  background-color: white; }

#component-projector article {
  border-bottom: solid 1px white; }

#component-projector div.row {
  display: flex;
  margin-bottom: 20px; }
  #component-projector div.row div.col {
    flex-grow: 1; }

#component-projector #status-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1vw; }
  #component-projector #status-wrapper #active-launch-stats {
    padding: 1vw;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.3); }
  #component-projector #status-wrapper #leaderbar {
    padding: 1vw;
    border: solid #fff 1px;
    border-right: none;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 20vw;
    justify-content: flex-end;
    padding: 0 5px 0; }
    #component-projector #status-wrapper #leaderbar .user {
      line-height: 16px;
      min-height: 16px;
      margin: 2px 0px;
      display: flex;
      align-items: flex-end; }
      #component-projector #status-wrapper #leaderbar .user .bar-segment {
        height: 100%;
        display: inline-block;
        width: 5vw; }
      #component-projector #status-wrapper #leaderbar .user .text {
        flex-grow: 1;
        text-align: right; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

.component-pz .hint {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
  padding: 5px 10px; }

#pipe-board-wrapper {
  font: 16px/20px Courier, monospace;
  width: 100%;
  margin: auto;
  max-width: 330px; }

.pipe-round {
  float: left;
  width: 33%;
  max-width: 110px; }
  .pipe-round img {
    display: block;
    margin: 0 auto; }

.pipe-item {
  display: block;
  margin: 1%;
  max-width: 100%; }
  .pipe-item.solved button {
    background-color: rgba(0, 255, 0, 0.7);
    border-color: lime; }
  .pipe-item button {
    min-width: 0px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: solid 1px #000; }
    .pipe-item button img {
      max-width: 100%; }

.pipe-item:hover button {
  background-color: #640a0a;
  border: solid red 4px;
  color: #fff;
  cursor: pointer; }

#guess-wrapper {
  float: left;
  width: 100vw;
  text-align: center;
  margin: 50px 0 0; }
  #guess-wrapper img {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto 10px; }
  #guess-wrapper .select-a-square {
    height: 100px;
    width: 100px;
    border: solid 1px #fff;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto 10px; }
  #guess-wrapper input {
    margin: 0 auto 10px;
    width: 40px; }
  #guess-wrapper button {
    margin: 0 auto 10px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#jigsaw-board-wrapper .table-wrapper {
  width: 91vw;
  max-width: 455px;
  display: flex;
  flex-wrap: wrap; }
  #jigsaw-board-wrapper .table-wrapper .tile {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    height: 23vw;
    width: 30vw;
    max-width: 150px;
    max-height: 113px;
    background-size: cover;
    display: flex; }
    #jigsaw-board-wrapper .table-wrapper .tile button {
      width: 100%;
      margin: 0;
      padding: 0; }

#jigsaw-board-wrapper .my-tiles-wrapper {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; }
  #jigsaw-board-wrapper .my-tiles-wrapper .tile {
    display: flex;
    background-size: cover;
    margin: 10px; }
    #jigsaw-board-wrapper .my-tiles-wrapper .tile.disabled {
      margin: 0px; }
    #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
      border: none;
      height: 38px;
      width: 50px;
      padding: 0px;
      color: red;
      margin: 0px;
      font-weight: 600; }
      #jigsaw-board-wrapper .my-tiles-wrapper .tile button:disabled {
        background-color: rgba(255, 0, 0, 0.5);
        display: none;
        margin: 0px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#soduko-board-wrapper #grid {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #soduko-board-wrapper #grid .row {
    display: flex; }
    #soduko-board-wrapper #grid .row .col {
      border: solid rgba(255, 255, 255, 0.5) 0.5px;
      display: flex;
      align-items: center; }
      #soduko-board-wrapper #grid .row .col.not-my-cell {
        opacity: .7; }
      #soduko-board-wrapper #grid .row .col .contents {
        margin: auto; }
        #soduko-board-wrapper #grid .row .col .contents img {
          max-width: 100%; }
  #soduko-board-wrapper #grid.table-size-3 .row .col {
    width: 12.5vw;
    height: 12.5vw; }
  #soduko-board-wrapper #grid.table-size-8 .row .col {
    width: 16.66vw;
    height: 16.66vw; }

#shape-board-wrapper img.key {
  width: 100px;
  margin: auto;
  display: block; }

#shape-board-wrapper .bar {
  height: 40px;
  margin: 10px 0;
  opacity: .7; }
  #shape-board-wrapper .bar button {
    width: 20%;
    margin: 0;
    border: solid #fff 1px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
    border: none; }
    #shape-board-wrapper .bar button.active {
      background-color: #000; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#spots-board-wrapper #solution-key {
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px;
  background-color: white;
  color: black;
  font-size: 90px;
  font-weight: 600; }

#spots-board-wrapper #spots-wrapper {
  display: flex;
  flex-direction: column; }
  #spots-board-wrapper #spots-wrapper .rows {
    width: 100%; }
    #spots-board-wrapper #spots-wrapper .rows .cols {
      display: inline-block;
      width: 15vw;
      height: 15vw;
      text-align: center; }
      #spots-board-wrapper #spots-wrapper .rows .cols button {
        margin: auto;
        border-radius: 8vw;
        width: 7vw;
        height: 7vw;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000; }
        #spots-board-wrapper #spots-wrapper .rows .cols button.active {
          border: solid white 3px; }

#spots-board-wrapper .color-convert > div {
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 10px;
  font: 600 20px/20px sans-serif;
  color: #000; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#volume-board-wrapper .solution-key-wrapper {
  display: flex; }
  #volume-board-wrapper .solution-key-wrapper .solution-key {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #volume-board-wrapper .solution-key-wrapper .solution-key .dot {
      color: black;
      padding: 10px;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.7);
      line-height: 6px;
      font-weight: 600; }

#volume-board-wrapper #sliderWrappers {
  height: 250px;
  border: solid black 1px;
  flex-direction: row;
  flex-flow: row;
  display: flex;
  justify-content: space-evenly; }
  #volume-board-wrapper #sliderWrappers .slidecontainer {
    width: 75px;
    height: 250px;
    margin: 0;
    border: solid black 1px;
    width: auto;
    height: auto;
    position: relative;
    font: 100 50px/70px Avenir, Sans-serif; }
    #volume-board-wrapper #sliderWrappers .slidecontainer.hint-1 {
      font-size: 20px; }
    #volume-board-wrapper #sliderWrappers .slidecontainer .slider {
      -webkit-appearance: none;
      width: 250px;
      height: 75px;
      background: rgba(0, 0, 0, 0.4);
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg); }
    #volume-board-wrapper #sliderWrappers .slidecontainer.small {
      width: 50%; }
    #volume-board-wrapper #sliderWrappers .slidecontainer.medium {
      width: 50%; }
    #volume-board-wrapper #sliderWrappers .slidecontainer.large {
      width: 30%; }
  #volume-board-wrapper #sliderWrappers .slider:hover {
    opacity: 1; }
  #volume-board-wrapper #sliderWrappers .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 75px;
    cursor: pointer;
    border: solid #fff 1px; }
  #volume-board-wrapper #sliderWrappers .slider::-moz-range-thumb {
    width: 25px;
    height: 75px;
    cursor: pointer;
    border: solid #fff 1px; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-1::-webkit-slider-thumb {
    background: black; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-1::-moz-range-thumb {
    background: black; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-1::-webkit-slider-thumb {
    background: red; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-1::-moz-range-thumb {
    background: red; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-2::-webkit-slider-thumb {
    background: yellow; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-2::-moz-range-thumb {
    background: yellow; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-3::-webkit-slider-thumb {
    background: cyan; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-3::-moz-range-thumb {
    background: cyan; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-4::-webkit-slider-thumb {
    background: blue; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-4::-moz-range-thumb {
    background: blue; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-5::-webkit-slider-thumb {
    background: magenta; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-5::-moz-range-thumb {
    background: magenta; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-6::-webkit-slider-thumb {
    background: BlueViolet; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-6::-moz-range-thumb {
    background: BlueViolet; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-7::-webkit-slider-thumb {
    background: BlanchedAlmond; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-7::-moz-range-thumb {
    background: BlanchedAlmond; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-8::-webkit-slider-thumb {
    background: Coral; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-8::-moz-range-thumb {
    background: Coral; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-9::-webkit-slider-thumb {
    background: DarkGreen; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-9::-moz-range-thumb {
    background: DarkGreen; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-10::-webkit-slider-thumb {
    background: Grey; }
  #volume-board-wrapper #sliderWrappers .slider.liquid-10::-moz-range-thumb {
    background: Grey; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#arm-board-wrapper #controls-wrapper .button-wrapper {
  display: inline-block;
  margin: 0 10px 0 0; }
  #arm-board-wrapper #controls-wrapper .button-wrapper button {
    width: 75px;
    text-align: center;
    padding: 5px; }

#arm-board-wrapper #table {
  height: 250px;
  width: 250px;
  border: solid 1px #fff;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9); }
  #arm-board-wrapper #table .element {
    position: absolute; }
  #arm-board-wrapper #table #arm {
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    height: 10px;
    width: 10px;
    border-radius: 10px; }
    #arm-board-wrapper #table #arm.open {
      height: 20px;
      width: 20px; }
  #arm-board-wrapper #table #item {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.8); }
    #arm-board-wrapper #table #item.captured {
      background-color: rgba(255, 255, 255, 0.9); }
  #arm-board-wrapper #table #bay {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.5); }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#frequency-board-wrapper #radio-message {
  font: 400 20px/24px monospace; }
  #frequency-board-wrapper #radio-message .valid-word {
    text-decoration: underline; }

#frequency-board-wrapper #radio-message-ending-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  font-size: 100px;
  line-height: 100px;
  word-wrap: break-word; }

#frequency-board-wrapper #radio-tuner {
  width: 80%;
  margin: auto; }

#switch-board-wrapper .switch-groups-wrapper {
  display: flex;
  flex-direction: column; }
  #switch-board-wrapper .switch-groups-wrapper .switch-group {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px; }
    #switch-board-wrapper .switch-groups-wrapper .switch-group .switch {
      flex-grow: 2;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch button {
        min-height: 200px;
        min-width: 200px;
        width: 100%;
        border: solid 2px #000;
        background-color: transparent; }
        #switch-board-wrapper .switch-groups-wrapper .switch-group .switch button .hint-text {
          background-color: #000;
          border-radius: 30px;
          padding: 5px;
          font-weight: 600;
          text-shadow: 0px 0px 2px #000;
          font-weight: 600;
          font-size: 20px;
          border: solid 2px #fff;
          width: 30px;
          height: 30px;
          margin: auto;
          line-height: 29px; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch.on button {
        color: #60ea60; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch.off button {
        color: #f64235; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #soduko-board-wrapper #grid .row .col.my-cell, #code-board-wrapper .table-wrapper .tile button, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border, #jigsaw-board-wrapper .table-wrapper .tile button, #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#code-board-wrapper .table-wrapper {
  width: 91vw;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #code-board-wrapper .table-wrapper .tile {
    height: 5vw;
    width: 5vw;
    max-width: 150px;
    max-height: 150px;
    background-size: contain;
    display: flex;
    font-weight: 600;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px; }
    #code-board-wrapper .table-wrapper .tile.code {
      background-color: #fff;
      color: #000;
      font-size: 12px; }
    #code-board-wrapper .table-wrapper .tile.space {
      background-color: transparent;
      border: none;
      display: block;
      width: 100%;
      max-width: 100%; }
    #code-board-wrapper .table-wrapper .tile button {
      border: solid 0.5px rgba(255, 255, 255, 0.5);
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: pulse;
      width: 100%;
      padding: 0;
      font-size: 30px;
      font-weight: 600;
      background-color: #000;
      color: #fff; }

#code-board-wrapper .my-tiles-wrapper {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #code-board-wrapper .my-tiles-wrapper .tile {
    display: flex;
    background-size: contain;
    margin: 10px; }
    #code-board-wrapper .my-tiles-wrapper .tile.disabled {
      margin: 0px; }
    #code-board-wrapper .my-tiles-wrapper .tile button {
      border: none;
      height: 30px;
      width: 30px;
      padding: 0px;
      color: #fff;
      font-weight: 600;
      border: solid 1px rgba(255, 255, 255, 0.5); }
      #code-board-wrapper .my-tiles-wrapper .tile button:disabled {
        background-color: rgba(255, 0, 0, 0.5); }

.component-wrapper {
  color: #ff6464;
  font-weight: 600; }
