.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

body {
  background-color: #16161d;
  color: white;
  font: 100 12px/20px "Avenir Next Ultra-Light", Avenir, Sans-serif;
  padding: 1vw;
  margin: 0;
  opacity: .8; }

img {
  border: none;
  min-height: 20px;
  min-width: 20px; }

P {
  font: 400 12px/14px Avenir, Sans-serif; }

a,
a:visited,
a:hover,
a:active {
  color: white;
  display: block;
  cursor: pointer; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

input,
button {
  border: solid 1px white;
  display: block;
  margin: 1vh 0;
  padding: 10px 30px;
  cursor: pointer; }

input[type='submit'],
button {
  background-color: #16161d;
  color: white; }

.icon {
  display: inline-block;
  min-width: 10px;
  min-height: 10px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

.component-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1vh 0;
  padding: 1vh 1vw; }

#component-nav a {
  display: inline-block;
  margin-right: 10px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

#component-map .map-wrapper {
  width: 90vw;
  padding-bottom: 180vw;
  margin: auto;
  border: solid 1px white;
  position: relative;
  transition-duration: 0.3s;
  background: url("../images/global/map.png") top left no-repeat transparent;
  background-size: contain; }
  #component-map .map-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  #component-map .map-wrapper .pz {
    border: solid 1px #16161d;
    border-radius: 50%;
    background-color: rgba(0, 255, 100, 0.5);
    position: absolute;
    transition-duration: .5s;
    padding: 0; }
    #component-map .map-wrapper .pz:hover {
      background-color: white; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

#component-welcome {
  color: #3a9bc7; }
  #component-welcome .ans-show-wrapper.hide {
    display: none; }
  #component-welcome .ans-show-wrapper .ans {
    animation-iteration-count: 1; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-1 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-1; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-2 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-2; }
  #component-welcome .ans-show-wrapper.intro.play .ans.show-3 {
    animation-duration: 5s;
    animation-name: ansIntroFadeIn-3; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-1 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-1; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-2 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-2; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-3 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-3; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-4 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-4; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-5 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-5; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-6 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-6; }
  #component-welcome .ans-show-wrapper.main.play .ans.show-7 {
    animation-duration: 5s;
    animation-name: ansMainFadeIn-7; }

@keyframes ansIntroFadeIn-1 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 1; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansIntroFadeIn-2 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 0; }
  66.66667% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansIntroFadeIn-3 {
  0% {
    opacity: 0; }
  33.33333% {
    opacity: 0; }
  66.66667% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-1 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 1; }
  28.57143% {
    opacity: 1; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-2 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 1; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-3 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 1; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-4 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 1; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-5 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 1; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-6 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 0; }
  85.71429% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes ansMainFadeIn-7 {
  0% {
    opacity: 0; }
  14.28571% {
    opacity: 0; }
  28.57143% {
    opacity: 0; }
  42.85714% {
    opacity: 0; }
  57.14286% {
    opacity: 0; }
  71.42857% {
    opacity: 0; }
  85.71429% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

#component-mk h2 {
  color: #16161d;
  background-color: white; }

#component-mk article {
  border-bottom: solid 1px white; }

#component-mk div.row {
  display: flex;
  margin-bottom: 20px; }
  #component-mk div.row div.col {
    flex-grow: 1; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

.component-pz .hint {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
  padding: 5px 10px; }

#pipe-board-wrapper {
  font: 16px/20px Courier, monospace;
  width: 100%;
  margin: auto;
  max-width: 330px; }

.pipe-round {
  float: left;
  width: 33%;
  max-width: 110px; }

.pipe-item {
  display: block;
  margin: 1%;
  max-width: 100%; }
  .pipe-item.solved button {
    background-color: rgba(0, 255, 0, 0.7);
    border-color: lime; }
  .pipe-item button {
    min-width: 0px;
    font-size: 12px;
    padding: 0; }
    .pipe-item button img {
      max-width: 100%; }

.pipe-item:hover button {
  background-color: #640a0a;
  border: solid red 4px;
  color: #fff;
  cursor: pointer; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

#jigsaw-board-wrapper .table-wrapper {
  width: 91vw;
  max-width: 455px;
  display: flex;
  flex-wrap: wrap; }
  #jigsaw-board-wrapper .table-wrapper .tile {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    height: 30vw;
    width: 30vw;
    max-width: 150px;
    max-height: 150px;
    background-size: contain;
    display: flex; }
    #jigsaw-board-wrapper .table-wrapper .tile button {
      border: none;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: pulse;
      width: 100%; }

#jigsaw-board-wrapper .my-tiles-wrapper {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; }
  #jigsaw-board-wrapper .my-tiles-wrapper .tile {
    display: flex;
    background-size: contain;
    margin: 10px; }
    #jigsaw-board-wrapper .my-tiles-wrapper .tile.disabled {
      margin: 0px; }
    #jigsaw-board-wrapper .my-tiles-wrapper .tile button {
      border: none;
      height: 50px;
      width: 50px;
      padding: 5px;
      color: red;
      font-weight: 600; }
      #jigsaw-board-wrapper .my-tiles-wrapper .tile button:disabled {
        background-color: rgba(255, 0, 0, 0.5);
        display: none;
        margin: 0px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #jigsaw-board-wrapper .my-tiles-wrapper .tile button, #soduko-board-wrapper #grid .row .col.my-cell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }

#soduko-board-wrapper #grid {
  display: flex;
  flex-direction: column; }
  #soduko-board-wrapper #grid .row {
    display: flex; }
    #soduko-board-wrapper #grid .row .col {
      border: solid rgba(255, 255, 255, 0.5) 0.5px;
      display: flex;
      align-items: center; }
      #soduko-board-wrapper #grid .row .col .contents {
        margin: auto; }
  #soduko-board-wrapper #grid.table-size-3 .row .col {
    width: 12.5vw;
    height: 12.5vw; }
  #soduko-board-wrapper #grid.table-size-8 .row .col {
    width: 16.66vw;
    height: 16.66vw; }

#shape-board-wrapper .bar {
  height: 40px;
  margin: 10px 0;
  opacity: .7; }
  #shape-board-wrapper .bar button {
    width: 20%;
    margin: 0;
    border: solid #fff 1px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
    border: none; }
    #shape-board-wrapper .bar button.active {
      background-color: #000; }

#spots-board-wrapper #spots-wrapper {
  display: flex;
  flex-direction: column; }
  #spots-board-wrapper #spots-wrapper .rows {
    width: 100%; }
    #spots-board-wrapper #spots-wrapper .rows .cols {
      display: inline-block;
      width: 15vw;
      height: 15vw;
      text-align: center; }
      #spots-board-wrapper #spots-wrapper .rows .cols button {
        margin: auto;
        border-radius: 8vw;
        width: 7vw;
        height: 7vw;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000; }
        #spots-board-wrapper #spots-wrapper .rows .cols button.active {
          border: solid white 3px; }
