#pipe-board-wrapper {
  font: 16px/20px Courier, monospace;
  width: 100%;
  margin: auto;
  max-width: 330px; }

.pipe-round {
  float: left;
  width: 33%;
  max-width: 110px; }
  .pipe-round img {
    display: block;
    margin: 0 auto; }

.pipe-item {
  display: block;
  margin: 1%;
  max-width: 100%; }
  .pipe-item.solved button {
    background-color: rgba(0, 255, 0, 0.7);
    border-color: lime; }
  .pipe-item button {
    min-width: 0px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: solid 1px #000; }
    .pipe-item button img {
      max-width: 100%; }

.pipe-item:hover button {
  background-color: #640a0a;
  border: solid red 4px;
  color: #fff;
  cursor: pointer; }

#guess-wrapper {
  float: left;
  width: 100vw;
  text-align: center;
  margin: 50px 0 0; }
  #guess-wrapper img {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto 10px; }
  #guess-wrapper .select-a-square {
    height: 100px;
    width: 100px;
    border: solid 1px #fff;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto 10px; }
  #guess-wrapper input {
    margin: 0 auto 10px;
    width: 40px; }
  #guess-wrapper button {
    margin: 0 auto 10px; }
