#pipe-board-wrapper {
  font: 16px/20px Courier, monospace;
  width: 100%;
  margin: auto;
  max-width: 330px;
}

.pipe-round {
  float: left;
  width: 33%;
  max-width: 110px;
}

.pipe-item {
  display: block;
  margin: 1%;
  max-width: 100%;
  &.solved button {
    background-color: rgba(0, 255, 0, 0.7);
    border-color: rgb(0, 255, 0);
  }
  button {
    min-width: 0px;
    font-size: 12px;
    padding: 0;
    img {
      max-width: 100%;
    }
  }
}

.pipe-item:hover {
  button {
    background-color: rgb(100, 10, 10);
    border: solid red 4px;
    color: #fff;
    cursor: pointer;
  }
}
