@import "../../imports/imports.scss";

#code-board-wrapper {
  .table-wrapper {
    width: 91vw;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .tile {
      height: 5vw;
      width: 5vw;
      max-width: 150px;
      max-height: 150px;
      background-size: contain;
      display: flex;
      font-weight: 600;

      margin: 2px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 30px;
      &.code {
        background-color: #fff;
        color: #000;
        font-size: 12px;
      }
      &.space {
        background-color: transparent;
        border: none;
        display: block;
        width: 100%;
        max-width: 100%;
      }
      button {
        @extend .ans-pulse;
        border: solid .5px rgba(255,255,255,.5);
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: pulse;
        width: 100%;
        padding: 0;
        font-size: 30px;
        font-weight: 600;
        background-color: #000;
        color: #fff;
      }
    }
  }

  .my-tiles-wrapper {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .tile {
      display: flex;
      background-size: contain;
      margin: 10px;
      &.disabled {
        margin: 0px;
      }
      button {
        @extend .ans-pulse;
        border: none;
        height: 30px;
        width: 30px;
        padding: 0px;
        color: #fff;
        font-weight: 600;
        border: solid 1px rgba(255, 255, 255, .5);
        &:disabled {
          background-color: rgba(255, 0,0,.5);
          //display: none;
          //margin: 0px;
        }
      }
    }
  }
}
