.clear:after {
  content: "";
  display: table;
  clear: both; }

.ans-pulse, #code-board-wrapper .my-tiles-wrapper .tile button {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.1); }
  50% {
    background-color: rgba(255, 255, 255, 0.3); }
  100% {
    background-color: rgba(255, 255, 255, 0.1); } }

.ans-pulse-border {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulseBorder; }

@keyframes pulseBorder {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px #3a9bc7; }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(58, 155, 199, 0.5); } }

.ans-fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  display: block !important; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

.ans-fade-out {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-fill-mode: forwards; }

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

#code-board-wrapper .table-wrapper {
  width: 91vw;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #code-board-wrapper .table-wrapper .tile {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    height: 5vw;
    width: 5vw;
    max-width: 150px;
    max-height: 150px;
    background-size: contain;
    display: flex;
    font-weight: 600; }
    #code-board-wrapper .table-wrapper .tile.code {
      color: rgba(255, 255, 255, 0.5);
      font-weight: 400; }
    #code-board-wrapper .table-wrapper .tile button {
      border: none;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: pulse;
      width: 100%;
      padding: 0; }

#code-board-wrapper .my-tiles-wrapper {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; }
  #code-board-wrapper .my-tiles-wrapper .tile {
    display: flex;
    background-size: contain;
    margin: 10px; }
    #code-board-wrapper .my-tiles-wrapper .tile.disabled {
      margin: 0px; }
    #code-board-wrapper .my-tiles-wrapper .tile button {
      border: none;
      height: 30px;
      width: 30px;
      padding: 0px;
      color: #fff;
      font-weight: 600; }
      #code-board-wrapper .my-tiles-wrapper .tile button:disabled {
        background-color: rgba(255, 0, 0, 0.5); }
