#shape-board-wrapper {
  img.key {
    width: 100px;
    margin: auto;
    display: block;
  }
  .bar {
    height: 40px;
    margin: 10px 0;
    opacity: .7;
    button {
      width: 20%;
      margin: 0;
      border: solid #fff 1px;
      height: 40px;
      display: inline-block;
      background-color: transparent;
      border: none;
      &.active {
        background-color: #000;
      }
    }
  }
}
