#spots-board-wrapper #spots-wrapper {
  display: flex;
  flex-direction: column; }
  #spots-board-wrapper #spots-wrapper .rows {
    width: 100%; }
    #spots-board-wrapper #spots-wrapper .rows .cols {
      display: inline-block;
      width: 15vw;
      height: 15vw;
      text-align: center; }
      #spots-board-wrapper #spots-wrapper .rows .cols button {
        margin: auto;
        border-radius: 8vw;
        width: 7vw;
        height: 7vw;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        color: #000; }
        #spots-board-wrapper #spots-wrapper .rows .cols button.active {
          border: solid white 3px; }

#spots-board-wrapper .color-convert > div {
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 10px;
  font: 600 20px/20px sans-serif;
  color: #000; }
