@import "../../imports/imports.scss";

$sliderSize: 250px;
$sliderThickness: 75px;

$offset: $sliderThickness * 2;

#volume-board-wrapper {

  // solutions key
  .solution-key-wrapper {
    display: flex;
    .solution-key {
      margin: 0 10px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .dot {
        color: $colorBlack;
        padding: 10px;
        border-radius: 20px;
        background-color: rgba(255,255,255,.7);
        line-height: 6px;
        font-weight: 600;
      }
    }
  }

  #sliderWrappers {
    height: $sliderSize;
    border: solid $colorBlack 1px;
    flex-direction: row;
    flex-flow: row;
    display: flex;
    justify-content: space-evenly;

    .slidecontainer {
      width: $sliderThickness;
      height: $sliderSize;
      margin: 0;
      border: solid $colorBlack 1px;
      width: auto;
      height: auto;
      position: relative;
      font: 100 50px/70px $fontAvenir;

      &.hint-1 {
        font-size: 20px;
      }

      .slider {
          -webkit-appearance: none;
          width: $sliderSize;
          height: $sliderThickness;
          background: rgba(0,0,0,0.4);
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
          //transform: rotate(90deg);

          // maybe?
          padding: 0;
          margin: 0;
          //transform: rotate(-90deg);
          //transform: translate(0px,$offset) rotate(-90deg);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%) rotate(-90deg);
      }
      &.small {
        // width: $sliderThickness - 150;
        // height: $sliderSize - 150;
        width: 50%;
        // height: auto;
        .slider {
          //height: 50px;
        }
      }
      &.medium {
        // width: $sliderThickness - 100;
        // height: $sliderSize - 100;
        width: 50%;
        // height: auto;
      }
      &.large {
        // width: $sliderThickness - 50;
        // height: $sliderSize - 50;
        width: 30%;
        // height: auto;
      }
    }



    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: $sliderThickness;
        cursor: pointer;
        border: solid #fff 1px;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: $sliderThickness;
        cursor: pointer;
        border: solid #fff 1px;
    }

    .slider.liquid-1::-webkit-slider-thumb { background: black; }
    .slider.liquid-1::-moz-range-thumb { background: black; }

    .slider.liquid-1::-webkit-slider-thumb { background: red; }
    .slider.liquid-1::-moz-range-thumb { background: red; }

    .slider.liquid-2::-webkit-slider-thumb { background: yellow; }
    .slider.liquid-2::-moz-range-thumb { background: yellow; }

    .slider.liquid-3::-webkit-slider-thumb { background: cyan; }
    .slider.liquid-3::-moz-range-thumb { background: cyan; }

    .slider.liquid-4::-webkit-slider-thumb { background: blue; }
    .slider.liquid-4::-moz-range-thumb { background: blue; }

    .slider.liquid-5::-webkit-slider-thumb { background: magenta; }
    .slider.liquid-5::-moz-range-thumb { background: magenta; }

    .slider.liquid-6::-webkit-slider-thumb { background: BlueViolet; }
    .slider.liquid-6::-moz-range-thumb { background: BlueViolet; }

    .slider.liquid-7::-webkit-slider-thumb { background: BlanchedAlmond; }
    .slider.liquid-7::-moz-range-thumb { background: BlanchedAlmond; }

    .slider.liquid-8::-webkit-slider-thumb { background: Coral; }
    .slider.liquid-8::-moz-range-thumb { background: Coral; }

    .slider.liquid-9::-webkit-slider-thumb { background: DarkGreen; }
    .slider.liquid-9::-moz-range-thumb { background: DarkGreen; }

    .slider.liquid-10::-webkit-slider-thumb { background: Grey; }
    .slider.liquid-10::-moz-range-thumb { background: Grey; }

  }



}
