#switch-board-wrapper .switch-groups-wrapper {
  display: flex;
  flex-direction: column; }
  #switch-board-wrapper .switch-groups-wrapper .switch-group {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px; }
    #switch-board-wrapper .switch-groups-wrapper .switch-group .switch {
      flex-grow: 2;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch button {
        min-height: 200px;
        min-width: 200px;
        width: 100%;
        border: solid 2px #000;
        background-color: transparent; }
