#switch-board-wrapper .switch-groups-wrapper {
  display: flex;
  flex-direction: column; }
  #switch-board-wrapper .switch-groups-wrapper .switch-group {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px; }
    #switch-board-wrapper .switch-groups-wrapper .switch-group .switch {
      flex-grow: 2;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch button {
        min-height: 200px;
        min-width: 200px;
        width: 100%;
        border: solid 2px #000;
        background-color: transparent; }
        #switch-board-wrapper .switch-groups-wrapper .switch-group .switch button .hint-text {
          background-color: #000;
          border-radius: 30px;
          padding: 5px;
          font-weight: 600;
          text-shadow: 0px 0px 2px #000;
          font-weight: 600;
          font-size: 20px;
          border: solid 2px #fff;
          width: 30px;
          height: 30px;
          margin: auto;
          line-height: 29px; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch.on button {
        color: #60ea60; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch.off button {
        color: #f64235; }
