#switch-board-wrapper .switch-groups-wrapper {
  display: flex;
  flex-direction: column; }
  #switch-board-wrapper .switch-groups-wrapper .switch-group {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: solid 5px #fff; }
    #switch-board-wrapper .switch-groups-wrapper .switch-group .switch {
      flex-grow: 2; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch button {
        min-height: 200px;
        min-width: 200px;
        width: 100%;
        border: solid 2px #000;
        background-color: #fff; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch.on button {
        background-color: #fff; }
      #switch-board-wrapper .switch-groups-wrapper .switch-group .switch.off button {
        background-color: gray; }
